*.m~
core.*
allfitdist.m
allfitdist.zip
bdDistributions.pdf
bd_comparison.m
bd_shift.avi
bfDistribution.pdf
burst-overlay-data.mat
burst_overlay.m
burst_overlay_data.mat
derive_noise_data.m
distribution_fig.m
figtitle.m
figtitle_documentation/
figtitle_v3.zip
find_variance_due_to_noise.m
firing_rate.m
histogram_data.mat
histogram_figure.m
impulse-response.mat
impulse-response/
impulse_response.mat
isiDistributions.pdf
label.m
license.txt
nHVK_figure_data.mat
noise.mat
noise_data_10.mat
noise_data_20.mat
noise_data_40.mat
noise_data_5min.mat
noise_data_80.mat
noisep.m
old_IHVK_figure.m
periodic_synchrony_figure.mat
prc.avi
prp.m
qualitative_figures.m
qualitative_figures.mat
realistic.mat
realistic_syncrony.m
scaleBar.m
scalebar.m
spike_shift.avi
std_dev_of_noise_in_middle_third.m
stddev_noise_data_10.mat
stddev_noise_data_20.mat
stddev_noise_data_40.mat
stddev_noise_data_80.mat
suplabel.m
suplabel.zip
suplabel_test.m
traces_figure.m
vline.m
bifurcation_figure.m
bifurcation_figure.mat
figure_export/
old/
xpp/begin_bifurcation.dat
xpp/begin_sss_0.dat
xpp/begin_sss_1.dat
xpp/begin_uss_0.dat
xpp/begin_uss_1.dat
xpp/eleven.dat
xpp/end-bifurcation.dat
xpp/seven_stable.dat
xpp/seven_unstable.dat
xpp/sss_0.dat
xpp/sss_1.dat
xpp/sss_2.dat
xpp/uss.dat

